body{
  font-size: 16px;
  background: #f9f9f9;
}
h2{
    text-align: center;
    border-bottom: 2px solid green;
}
form{
    width: 300px;
    margin: 50px auto 0;
    border: 2px solid #ccc;
    padding: 15px 40px 40px;
}
label{
    display:block;
    margin-bottom: 6px;
}